*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*html {
  -webkit-font-smoothing: antialiased;
  background: url(/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }*/

html,
body {
  font-size: 100%; 
  background-color: #FAFAFA; 
  color: #454454;
  padding: 0;
  list-style-type: none; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
  color: #454454;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default; 
  padding-bottom: 0.03125em; }

header {
  color: #454454;
  height: auto;
  width: auto;
  margin: 0 auto; }

.wrap {
  line-height: 1.75em; }

.container { 
  color: #454454; 
  width: 650px;
  margin: 0 auto; }

.blog {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  color: #454454;
  width: 650px;
  padding-top: 0.05em;
  margin: 0.05em auto;
  background-color: #FAFAFA; }
  /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5); 
  border-radius: 10px; }*/

.blog ul li {
  padding: 0;
  list-style-type: none; }

ul li {
  padding: 0;
  list-style-type: none; }

.listing {
  margin: 25px 0;
  padding: 0; }

.listing li {
    list-style-type: none;
    padding: 7px 5px;
    font-size: 18px; }

a {
    text-decoration: none; }

.listing span {
  padding-top: 2px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #999; }

.blog > .post a:link {    
  color: #1e1c29 !important; }

.blog > .post a:active {
  color: #1e1c29 !important; }

.blog > .post a:visited {
  color: #1e1c29 !important; }

.content {

}

#seeMore {
  background: #565656;
  color: #FAFAFA !important;
  padding: 1px 6px;
  display: inline-block;
  position: relative;
  margin-top: 60px;
}

#seeMore:hover {
  color: #8BA5C4;
}

.DS {

 background: url('/img/bg.png') no-repeat;
}

footer {
  font: 200 4.5em 'Helvetica Neue', Helvetica; 
  font-size: 1.25em;
  position: absolute;
  padding-bottom: 20px;
  width: 100%;
}

footer ul li {
  float: right;
  margin-right: 10px; }

h1 {
  color: #454454;
  font: 100 4.5em 'Helvetica Neue', Helvetica; 
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  text-rendering: optimizeLegibility; }

h2 {
  font-color: #454454;
  font-size: 1.5em; }

h3 {
  color: #454454;
  font-size: .80em;
  font-weight: normal;
  font-style: normal; }

a:link {
  text-decoration: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  color: #1e1c29; }

a:active {
  text-decoration: none;
  color: #1e1c29; }

@media screen and (max-width: 640px) {
  body {
    font-size: 85%; }
  header {
    margin: 10px 0 0; }
  .blog {
    width: 320px; }
}