* {
  margin: 0 auto;
}

html { 
  -webkit-font-smoothing: antialiased;  
}

#container {
  margin: auto;
}

html {
  background: url(/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  font-color: white;
  padding-top: 3.5%;
  width: 100%;
  margin: 0 auto;
}

.blog {
  font-family: "roboto", sans-serif;
  text-rendering: optimizeLegibility;
  color: #454454;
  width: auto;
  padding-top: 35px;
  margin: 35px auto;
  background-color: white;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.blog > .post {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 35px;  
}

.blog > .content {
  font-size: 1.5em;
}

ul.post {
  list-style-type: none;
}

ul.post li {
  height: 100%;
}

.blog > .post a:link {    
  color: #1e1c29 !important;
}

.blog > .post a:active {
  color: #1e1c29 !important;
}

.blog > .post a:visited {
  color: #1e1c29 !important;
}

footer {
  color: white;
  text-align:center;
  position:fixed;
  height: auto;
  width: 100%;
  bottom: 4px;
  white-space: nowrap;
}

h1 {
  color: #fff !important;
  font: 100 72px/72px 'Helvetica Neue', Helvetica, Arial;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: #6a6a6a;
}
a:active {
    text-decoration: none;
    color: #000;
}